Repository xeho91/js-ast, changes with the labels that .github/labeler.yml gives for each.
All labels: internals, pkg:js-ast-analyze, pkg:js-ast-build, pkg:ts-ast-analyze, pkg:ts-ast-build, pkg:svelte-ast-analyze, pkg:svelte-ast-build, pkg:svelte-ast-print, tests, workflows

.github/labeler.yml:

"internals":
    - changed-files:
          - any-glob-to-any-file:
                - "internals/**"

"pkg:js-ast-analyze":
    - changed-files:
          - any-glob-to-any-file:
                - "packages/js-ast-analyze/**"

"pkg:js-ast-build":
    - changed-files:
          - any-glob-to-any-file:
                - "packages/js-ast-build/**"

"pkg:ts-ast-analyze":
    - changed-files:
          - any-glob-to-any-file:
                - "packages/ts-ast-analyze/**"

"pkg:ts-ast-build":
    - changed-files:
          - any-glob-to-any-file:
                - "packages/ts-ast-build/**"

"pkg:svelte-ast-analyze":
    - changed-files:
          - any-glob-to-any-file:
                - "packages/svelte-ast-analyze/**"

"pkg:svelte-ast-build":
    - changed-files:
          - any-glob-to-any-file:
                - "packages/svelte-ast-build/**"

"pkg:svelte-ast-print":
    - changed-files:
          - any-glob-to-any-file:
                - "packages/svelte-ast-print/**"

"tests":
    - changed-files:
          - any-glob-to-any-file:
                - "**/*.test.ts"

"workflows":
    - changed-files:
          - any-glob-to-any-file:
                - ".github/workflows/**"

add `printAttachTag()`
  packages/svelte-ast-print/src/template/tag.ts
Labels: pkg:svelte-ast-print

biome fix
  packages/svelte-ast-print/src/_internal/template/element-like.ts
  packages/svelte-ast-print/src/fragment.test.ts
  packages/svelte-ast-print/src/template/tag.test.ts
  packages/svelte-ast-print/src/template/tag.ts
Labels: pkg:svelte-ast-print, tests

changeset
  .changeset/cold-eggs-grin.md
Labels: none

fix: formatting for text nodes
  packages/svelte-ast-print/src/template/root.test.ts
Labels: pkg:svelte-ast-print, tests

Update packages/svelte-ast-print/src/template/root.test.ts
  packages/svelte-ast-print/src/template/root.test.ts
Labels: pkg:svelte-ast-print, tests

changeset
  .changeset/cold-mangos-swim.md
Labels: none

chore(deps): Update `svelte` to v`^5.31`
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

refactor print `svelte:element`
  packages/svelte-ast-print/src/template/element-like.ts
Labels: pkg:svelte-ast-print

fix missing `AttachTag` in `printTemplateNode`
  packages/svelte-ast-print/src/template.ts
Labels: pkg:svelte-ast-print

add missing `AttachTag` in `print()`
  packages/svelte-ast-print/src/lib.ts
Labels: pkg:svelte-ast-print

biome
  packages/svelte-ast-print/src/lib.ts
  packages/svelte-ast-print/src/template.ts
  packages/svelte-ast-print/src/template/element-like.ts
Labels: pkg:svelte-ast-print

feat(svelte-ast-print): Add support for `AttachTag` (#127)
  .changeset/cold-eggs-grin.md
  .changeset/easy-doors-fetch.md
  packages/svelte-ast-print/src/_internal/template/element-like.ts
  packages/svelte-ast-print/src/fragment.test.ts
  packages/svelte-ast-print/src/lib.ts
  packages/svelte-ast-print/src/template.ts
  packages/svelte-ast-print/src/template/element-like.ts
  packages/svelte-ast-print/src/template/tag.test.ts
  packages/svelte-ast-print/src/template/tag.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg:svelte-ast-print, tests

docs(svelte-ast-print): Fix incorrect link to documentation
  packages/svelte-ast-print/README.md
Labels: pkg:svelte-ast-print

chore(deps): Go away `dedent` and update `svelte`
  internals/test/package.json
  internals/test/src/svelte.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: internals

fix(internal): Missing `AttachTag`
  packages/svelte-ast-print/src/_internal/shared.ts
Labels: pkg:svelte-ast-print

fix: auto-breaking on element-likes
  packages/svelte-ast-print/src/_internal/fragment.ts
  packages/svelte-ast-print/src/_internal/template/element-like.ts
  packages/svelte-ast-print/src/template/element-like.test.ts
Labels: pkg:svelte-ast-print, tests

simplify attribute-like tests
  packages/svelte-ast-print/src/template/attribute-like.test.ts
Labels: pkg:svelte-ast-print, tests

fix: don't auto-break on blocks
  packages/svelte-ast-print/src/template/block.test.ts
  packages/svelte-ast-print/src/template/block.ts
Labels: pkg:svelte-ast-print, tests

simplify html tests
  packages/svelte-ast-print/src/template/html.test.ts
Labels: pkg:svelte-ast-print, tests

simplify tag tests
  packages/svelte-ast-print/src/template/tag.test.ts
Labels: pkg:svelte-ast-print, tests

fix auto-indentation in fragment
  packages/svelte-ast-print/src/_internal/template/block.ts
  packages/svelte-ast-print/src/_internal/template/element-like.ts
  packages/svelte-ast-print/src/fragment.test.ts
  packages/svelte-ast-print/src/fragment.ts
Labels: pkg:svelte-ast-print, tests

fix indentation issues in root
  packages/svelte-ast-print/src/_internal/root.ts
  packages/svelte-ast-print/src/lib.test.ts
  packages/svelte-ast-print/src/template/root.test.ts
  packages/svelte-ast-print/src/template/root.ts
Labels: pkg:svelte-ast-print, tests

remove commented out `dedent` import
  internals/test/src/svelte.ts
Labels: internals
