Repository xeho91/js-ast, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, pkg:js-ast-build, pkg:ts-ast-build, pkg:svelte-ast-build, pkg:svelte-ast-print

update knip
  knip.json
Labels: none

changeset
  .changeset/wild-deers-end.md
Labels: none

add missing `print`
  pkgs/svelte-ast-build/src/template.js
  pkgs/svelte-ast-print/package.json
  pkgs/svelte-ast-print/src/_internal/shared.js
  pkgs/svelte-ast-print/src/lib.js
  pkgs/svelte-ast-print/src/types.d.ts
  pkgs/svelte-ast-print/test.js
  pkgs/svelte-ast-print/types.d.ts
Labels: pkg:svelte-ast-build, pkg:svelte-ast-print

fix types & improve `prepublishOnly` script
  pkgs/svelte-ast-print/package.json
  pkgs/svelte-ast-print/src/css/types.d.ts
  pkgs/svelte-ast-print/src/html/types.d.ts
  pkgs/svelte-ast-print/src/js/types.d.ts
  pkgs/svelte-ast-print/src/template/types.d.ts
  pkgs/svelte-ast-print/test.js
Labels: pkg:svelte-ast-print

remove test file
  pkgs/svelte-ast-print/test.js
Labels: pkg:svelte-ast-print

ci(cr_preview): Fix `packages` -> `pkgs`
  .github/workflows/cr_preview.yml
Labels: workflows

update readme
  README.md
Labels: none

ci(preview): Allow running on dispatch & use `pnpm` in comments
  .github/workflows/cr_preview.yml
Labels: workflows

ci(preview): Fix `if` condition to allow `workflow_dispatch` event
  .github/workflows/cr_preview.yml
Labels: workflows

ci: Revert changes to `cr_preview.yml`
  .github/workflows/cr_preview.yml
Labels: workflows

changeset
  .changeset/flat-parrots-battle.md
  .changeset/happy-dingos-speak.md
  .changeset/nervous-grapes-grow.md
  .changeset/wicked-rockets-fold.md
Labels: none

.github/labeler.yml:

"workflows":
    - changed-files:
          - any-glob-to-any-file:
                - ".github/workflows/**"

"pkg:js-ast-build":
    - changed-files:
          - any-glob-to-any-file:
                - "pkgs/js-ast-build/**"

"pkg:ts-ast-build":
    - changed-files:
          - any-glob-to-any-file:
                - "pkgs/ts-ast-build/**"

"pkg:svelte-ast-build":
    - changed-files:
          - any-glob-to-any-file:
                - "pkgs/svelte-ast-build/**"

"pkg:svelte-ast-print":
    - changed-files:
          - any-glob-to-any-file:
                - "pkgs/svelte-ast-print/**"
