Repository xeho91/js-ast, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, pkg:js-ast-build, pkg:ts-ast-build, pkg:svelte-ast-build, pkg:svelte-ast-print

.github/labeler.yml:

"workflows":
    - changed-files:
          - any-glob-to-any-file:
                - ".github/workflows/**"

"pkg:js-ast-build":
    - changed-files:
          - any-glob-to-any-file:
                - "pkgs/js-ast-build/**"

"pkg:ts-ast-build":
    - changed-files:
          - any-glob-to-any-file:
                - "pkgs/ts-ast-build/**"

"pkg:svelte-ast-build":
    - changed-files:
          - any-glob-to-any-file:
                - "pkgs/svelte-ast-build/**"

"pkg:svelte-ast-print":
    - changed-files:
          - any-glob-to-any-file:
                - "pkgs/svelte-ast-print/**"

ci(workflows): Remove `ci_knip` from `needs` of TypeDoc
  .github/workflows/ci-cr.yml
Labels: workflows

fix(scripts): Fix `prepublishOnly`
  pkgs/svelte-ast-print/package.json
Labels: pkg:svelte-ast-print

add scripts
  pkgs/js-ast-build/package.json
  pkgs/svelte-ast-build/package.json
  pkgs/ts-ast-build/package.json
Labels: pkg:js-ast-build, pkg:ts-ast-build, pkg:svelte-ast-build

changeset
  .changeset/lemon-dryers-sing.md
Labels: none

ci(test): Fix incorrect slug
  .github/workflows/ci_test.yml
Labels: workflows

Deploying to gh-pages from @ xeho91/js-ast@b426f634c99e7b3b14f26557bcd72d9cf4511344 🚀
  functions/svelte-ast-print.mod.print.html
  functions/svelte-ast-print.node.is_attr_like.html
  functions/svelte-ast-print.node.is_element_like.html
  functions/svelte-ast-print.node.is_svelte.html
  interfaces/svelte-ast-print.options.FormatOptions.html
  interfaces/svelte-ast-print.options.PrintOptions.html
  interfaces/svelte-ast-print.options.RootOptions.html
  types/svelte-ast-print.node.HTMLNode.html
  types/svelte-ast-print.node.Node.html
  types/svelte-ast-print.node.SupportedSvelteNode.html
  types/svelte-ast-print.options.IndentName.html
  types/svelte-ast-print.options.RootNode.html
  types/svelte-ast-print.options.RootOrder.html
Labels: none

ci(workflows): Remove `ci_knip` from Preview `needs`
  .github/workflows/ci-cr.yml
Labels: workflows

Deploying to gh-pages from @ xeho91/js-ast@83df05bdcaf46cffa8f59f02fa8724561083b19f 🚀
  functions/svelte-ast-print.mod.print.html
  functions/svelte-ast-print.node.is_attr_like.html
  functions/svelte-ast-print.node.is_element_like.html
  functions/svelte-ast-print.node.is_svelte.html
  interfaces/svelte-ast-print.options.FormatOptions.html
  interfaces/svelte-ast-print.options.PrintOptions.html
  interfaces/svelte-ast-print.options.RootOptions.html
  types/svelte-ast-print.node.HTMLNode.html
  types/svelte-ast-print.node.Node.html
  types/svelte-ast-print.node.SupportedSvelteNode.html
  types/svelte-ast-print.options.IndentName.html
  types/svelte-ast-print.options.RootNode.html
  types/svelte-ast-print.options.RootOrder.html
Labels: none

docs(svelte-ast-print): Add documentation links
  pkgs/svelte-ast-print/README.md
Labels: pkg:svelte-ast-print

Deploying to gh-pages from @ xeho91/js-ast@fb744ad571b2c75220d9c3fffc4dc76fcf8bebd4 🚀
  assets/highlight.css
  functions/svelte-ast-print.mod.print.html
  functions/svelte-ast-print.node.is_attr_like.html
  functions/svelte-ast-print.node.is_element_like.html
  functions/svelte-ast-print.node.is_svelte.html
  interfaces/svelte-ast-print.node._internal_.SvelteOptions.html
  interfaces/svelte-ast-print.options.FormatOptions.html
  interfaces/svelte-ast-print.options.PrintOptions.html
  interfaces/svelte-ast-print.options.RootOptions.html
  modules/svelte-ast-print.html
  types/svelte-ast-print.node.HTMLNode.html
  types/svelte-ast-print.node.Node.html
  types/svelte-ast-print.node.SupportedSvelteNode.html
  types/svelte-ast-print.options.IndentName.html
  types/svelte-ast-print.options.RootNode.html
  types/svelte-ast-print.options.RootOrder.html
Labels: none

Deploy preview for PR 110 🛫
  docs/pr-preview/pr-110/assets/highlight.css
  docs/pr-preview/pr-110/functions/svelte-ast-print.mod.print.html
  docs/pr-preview/pr-110/functions/svelte-ast-print.node.is_attr_like.html
  docs/pr-preview/pr-110/functions/svelte-ast-print.node.is_element_like.html
  docs/pr-preview/pr-110/functions/svelte-ast-print.node.is_svelte.html
  docs/pr-preview/pr-110/interfaces/svelte-ast-print.node._internal_.SvelteOptions.html
  docs/pr-preview/pr-110/interfaces/svelte-ast-print.options.FormatOptions.html
  docs/pr-preview/pr-110/interfaces/svelte-ast-print.options.PrintOptions.html
  docs/pr-preview/pr-110/interfaces/svelte-ast-print.options.RootOptions.html
  docs/pr-preview/pr-110/modules/svelte-ast-print.html
  docs/pr-preview/pr-110/types/svelte-ast-print.node.HTMLNode.html
  docs/pr-preview/pr-110/types/svelte-ast-print.node.Node.html
  docs/pr-preview/pr-110/types/svelte-ast-print.node.SupportedSvelteNode.html
  docs/pr-preview/pr-110/types/svelte-ast-print.options.IndentName.html
  docs/pr-preview/pr-110/types/svelte-ast-print.options.RootNode.html
  docs/pr-preview/pr-110/types/svelte-ast-print.options.RootOrder.html
Labels: none

chore: Add scripts to new packages (#110)
  .changeset/lemon-dryers-sing.md
  pkgs/js-ast-build/package.json
  pkgs/svelte-ast-build/package.json
  pkgs/ts-ast-build/package.json
Labels: pkg:js-ast-build, pkg:ts-ast-build, pkg:svelte-ast-build

Deploying to gh-pages from @ xeho91/js-ast@830191738daa156755519df3e89215bd992090b4 🚀
  functions/svelte-ast-print.mod.print.html
  functions/svelte-ast-print.node.is_attr_like.html
  functions/svelte-ast-print.node.is_element_like.html
  functions/svelte-ast-print.node.is_svelte.html
  interfaces/svelte-ast-print.options.FormatOptions.html
  interfaces/svelte-ast-print.options.PrintOptions.html
  interfaces/svelte-ast-print.options.RootOptions.html
  types/svelte-ast-print.node.HTMLNode.html
  types/svelte-ast-print.node.Node.html
  types/svelte-ast-print.node.SupportedSvelteNode.html
  types/svelte-ast-print.options.IndentName.html
  types/svelte-ast-print.options.RootNode.html
  types/svelte-ast-print.options.RootOrder.html
Labels: none

Deploying to gh-pages from @ xeho91/js-ast@e13c63de8b43615ef0c4603c55ff1458e6e2c106 🚀
  assets/navigation.js
  functions/svelte-ast-print.mod.print.html
  functions/svelte-ast-print.node.is_attr_like.html
  functions/svelte-ast-print.node.is_element_like.html
  functions/svelte-ast-print.node.is_svelte.html
  interfaces/svelte-ast-print.options.FormatOptions.html
  interfaces/svelte-ast-print.options.PrintOptions.html
  interfaces/svelte-ast-print.options.RootOptions.html
  modules.html
  modules/js-ast-build.html
  modules/svelte-ast-build.html
  modules/ts-ast-build.html
  types/svelte-ast-print.node.HTMLNode.html
  types/svelte-ast-print.node.Node.html
  types/svelte-ast-print.node.SupportedSvelteNode.html
  types/svelte-ast-print.options.IndentName.html
  types/svelte-ast-print.options.RootNode.html
  types/svelte-ast-print.options.RootOrder.html
Labels: none

init
  pkgs/svelte-ast-build/package.json
  pkgs/svelte-ast-build/src/attribute.js
  pkgs/svelte-ast-build/src/attribute.test.ts
  pkgs/svelte-ast-build/src/block.js
  pkgs/svelte-ast-build/src/block.test.ts
  pkgs/svelte-ast-build/src/css/mod.js
  pkgs/svelte-ast-build/src/css/mod.test.ts
  pkgs/svelte-ast-build/src/css/style-sheet.js
  pkgs/svelte-ast-build/src/css/style-sheet.test.ts
  pkgs/svelte-ast-build/src/element.js
  pkgs/svelte-ast-build/src/element.test.ts
  pkgs/svelte-ast-build/src/fragment.js
  pkgs/svelte-ast-build/src/fragment.test.ts
  pkgs/svelte-ast-build/src/html.js
  pkgs/svelte-ast-build/src/html.test.ts
  pkgs/svelte-ast-build/src/mod.js
  pkgs/svelte-ast-build/src/mod.test.ts
  pkgs/svelte-ast-build/src/options.js
  pkgs/svelte-ast-build/src/options.test.ts
  pkgs/svelte-ast-build/src/root.js
  pkgs/svelte-ast-build/src/root.test.ts
  pkgs/svelte-ast-build/src/script.js
  pkgs/svelte-ast-build/src/script.test.ts
  pkgs/svelte-ast-build/src/svelte.js
  pkgs/svelte-ast-build/src/svelte.test.ts
  pkgs/svelte-ast-build/src/tag.js
  pkgs/svelte-ast-build/src/tag.test.ts
  pkgs/svelte-ast-build/src/template.js
  pkgs/svelte-ast-build/src/template.test.ts
  pkgs/svelte-ast-build/tests/shared.ts
Labels: pkg:svelte-ast-build

deps
  pnpm-lock.yaml
Labels: none

fix types & doc
  pkgs/svelte-ast-build/src/attribute.js
  pkgs/svelte-ast-build/src/block.js
  pkgs/svelte-ast-build/src/element.js
  pkgs/svelte-ast-build/src/fragment.js
  pkgs/svelte-ast-build/src/html.js
  pkgs/svelte-ast-build/src/mod.js
  pkgs/svelte-ast-build/src/node.js
  pkgs/svelte-ast-build/src/node.test.ts
  pkgs/svelte-ast-build/src/options.js
  pkgs/svelte-ast-build/src/root.js
  pkgs/svelte-ast-build/src/script.js
  pkgs/svelte-ast-build/src/tag.js
  pkgs/svelte-ast-build/src/template.js
  pkgs/svelte-ast-build/tsconfig.json
  pkgs/svelte-ast-build/typedoc.json
Labels: pkg:svelte-ast-build

improve `README.md`
  pkgs/svelte-ast-build/README.md
Labels: pkg:svelte-ast-build

more docs
  pkgs/svelte-ast-build/src/css/mod.js
  pkgs/svelte-ast-build/src/css/style-sheet.js
Labels: pkg:svelte-ast-build

use type-guards in `svelte-ast-print` and fix types
  pkgs/svelte-ast-print/package.json
  pkgs/svelte-ast-print/src/mod.js
  pkgs/svelte-ast-print/src/node.js
  pnpm-lock.yaml
Labels: pkg:svelte-ast-print

improve type-guarding & types
  pkgs/svelte-ast-build/package.json
  pkgs/svelte-ast-build/src/_shared.js
  pkgs/svelte-ast-build/src/attribute.js
  pkgs/svelte-ast-build/src/block.js
  pkgs/svelte-ast-build/src/css/mod.js
  pkgs/svelte-ast-build/src/css/style-sheet.js
  pkgs/svelte-ast-build/src/element.js
  pkgs/svelte-ast-build/src/fragment.js
  pkgs/svelte-ast-build/src/html.js
  pkgs/svelte-ast-build/src/mod.js
  pkgs/svelte-ast-build/src/node.js
  pkgs/svelte-ast-build/src/options.js
  pkgs/svelte-ast-build/src/root.js
  pkgs/svelte-ast-build/src/script.js
  pkgs/svelte-ast-build/src/script.test.ts
  pkgs/svelte-ast-build/src/tag.js
  pkgs/svelte-ast-build/src/template.js
  pkgs/svelte-ast-build/types.d.ts
Labels: pkg:svelte-ast-build

fix
  pkgs/svelte-ast-build/src/mod.test.ts
  pkgs/svelte-ast-build/src/node.test.ts
  pkgs/svelte-ast-build/src/template.js
Labels: pkg:svelte-ast-build

changesets
  .changeset/nervous-grapes-grow.md
  .changeset/wicked-rockets-fold.md
Labels: none

fix links
  pkgs/svelte-ast-build/README.md
Labels: pkg:svelte-ast-build

mark _shared with `@internal`
  pkgs/svelte-ast-build/src/_shared.js
Labels: pkg:svelte-ast-build

chore(codecov): Ignore `**/tests/**`
  .github/codecov.yml
Labels: none

Deploying to gh-pages from @ xeho91/js-ast@e7670d24a326616422d4b934e8af7c5c40d7735a 🚀
  functions/svelte-ast-print.mod.print.html
  functions/svelte-ast-print.node.is_attr_like.html
  functions/svelte-ast-print.node.is_element_like.html
  functions/svelte-ast-print.node.is_svelte.html
  interfaces/svelte-ast-print.options.FormatOptions.html
  interfaces/svelte-ast-print.options.PrintOptions.html
  interfaces/svelte-ast-print.options.RootOptions.html
  types/svelte-ast-print.node.HTMLNode.html
  types/svelte-ast-print.node.Node.html
  types/svelte-ast-print.node.SupportedSvelteNode.html
  types/svelte-ast-print.options.IndentName.html
  types/svelte-ast-print.options.RootNode.html
  types/svelte-ast-print.options.RootOrder.html
Labels: none

fix tests
  pkgs/svelte-ast-build/tests/shared.ts
  pkgs/svelte-ast-print/tests/shared.ts
Labels: pkg:svelte-ast-build, pkg:svelte-ast-print

fix type
  pkgs/svelte-ast-build/src/_shared.js
Labels: pkg:svelte-ast-build

fix biome
  pkgs/svelte-ast-print/tests/shared.ts
Labels: pkg:svelte-ast-print

feat(svelte-ast-build): Add type guards for fundamental AST node types (#112)
  .changeset/nervous-grapes-grow.md
  .changeset/wicked-rockets-fold.md
  pkgs/svelte-ast-build/README.md
  pkgs/svelte-ast-build/package.json
  pkgs/svelte-ast-build/src/_shared.js
  pkgs/svelte-ast-build/src/attribute.js
  pkgs/svelte-ast-build/src/attribute.test.ts
  pkgs/svelte-ast-build/src/block.js
  pkgs/svelte-ast-build/src/block.test.ts
  pkgs/svelte-ast-build/src/css/mod.js
  pkgs/svelte-ast-build/src/css/mod.test.ts
  pkgs/svelte-ast-build/src/css/style-sheet.js
  pkgs/svelte-ast-build/src/css/style-sheet.test.ts
  pkgs/svelte-ast-build/src/element.js
  pkgs/svelte-ast-build/src/element.test.ts
  pkgs/svelte-ast-build/src/fragment.js
  pkgs/svelte-ast-build/src/fragment.test.ts
  pkgs/svelte-ast-build/src/html.js
  pkgs/svelte-ast-build/src/html.test.ts
  pkgs/svelte-ast-build/src/mod.js
  pkgs/svelte-ast-build/src/node.js
  pkgs/svelte-ast-build/src/node.test.ts
  pkgs/svelte-ast-build/src/options.js
  pkgs/svelte-ast-build/src/options.test.ts
  pkgs/svelte-ast-build/src/root.js
  pkgs/svelte-ast-build/src/root.test.ts
  pkgs/svelte-ast-build/src/script.js
  pkgs/svelte-ast-build/src/script.test.ts
  pkgs/svelte-ast-build/src/tag.js
  pkgs/svelte-ast-build/src/tag.test.ts
  pkgs/svelte-ast-build/src/template.js
  pkgs/svelte-ast-build/src/template.test.ts
  pkgs/svelte-ast-build/tests/shared.ts
  pkgs/svelte-ast-build/tsconfig.json
  pkgs/svelte-ast-build/typedoc.json
  pkgs/svelte-ast-build/types.d.ts
  pkgs/svelte-ast-print/package.json
  pkgs/svelte-ast-print/src/mod.js
  pkgs/svelte-ast-print/src/node.js
  pnpm-lock.yaml
Labels: pkg:svelte-ast-build, pkg:svelte-ast-print

refactor option types
  pkgs/svelte-ast-print/src/_options.js
  pkgs/svelte-ast-print/src/mod.js
Labels: pkg:svelte-ast-print

wip
  pkgs/svelte-ast-build/src/tag.js
  pkgs/svelte-ast-print/src/_option.js
  pkgs/svelte-ast-print/src/_result.js
  pkgs/svelte-ast-print/src/attribute.js
  pkgs/svelte-ast-print/src/attribute.test.ts
  pkgs/svelte-ast-print/src/block.js
  pkgs/svelte-ast-print/src/block.test.ts
  pkgs/svelte-ast-print/src/css/mod.js
  pkgs/svelte-ast-print/src/css/rule.test.ts
  pkgs/svelte-ast-print/src/css/selector.test.ts
  pkgs/svelte-ast-print/src/css/style-sheet.test.ts
  pkgs/svelte-ast-print/src/element.js
  pkgs/svelte-ast-print/src/element.test.ts
  pkgs/svelte-ast-print/src/fragment.js
  pkgs/svelte-ast-print/src/fragment.test.ts
  pkgs/svelte-ast-print/src/html.js
  pkgs/svelte-ast-print/src/html.test.ts
  pkgs/svelte-ast-print/src/mod.js
  pkgs/svelte-ast-print/src/root.js
  pkgs/svelte-ast-print/src/root.test.ts
  pkgs/svelte-ast-print/src/script.js
  pkgs/svelte-ast-print/src/script.test.ts
  pkgs/svelte-ast-print/src/tag.js
  pkgs/svelte-ast-print/src/tag.test.ts
  pkgs/svelte-ast-print/tests/nodes/attribute-like.test.ts
  pkgs/svelte-ast-print/tests/nodes/css/rule.test.ts
  pkgs/svelte-ast-print/tests/nodes/directive.test.ts
  pkgs/svelte-ast-print/tests/nodes/tag.test.ts
Labels: pkg:svelte-ast-build, pkg:svelte-ast-print

wip
  pkgs/svelte-ast-print/src/_char.js
  pkgs/svelte-ast-print/src/_result.js
  pkgs/svelte-ast-print/src/_state.js
  pkgs/svelte-ast-print/src/attribute.js
  pkgs/svelte-ast-print/src/attribute.test.ts
  pkgs/svelte-ast-print/src/block.js
  pkgs/svelte-ast-print/src/block.test.ts
  pkgs/svelte-ast-print/src/css/mod.js
  pkgs/svelte-ast-print/src/css/rule.test.ts
  pkgs/svelte-ast-print/src/css/selector.test.ts
  pkgs/svelte-ast-print/src/css/style-sheet.test.ts
  pkgs/svelte-ast-print/src/element.js
  pkgs/svelte-ast-print/src/element.test.ts
  pkgs/svelte-ast-print/src/fragment.js
  pkgs/svelte-ast-print/src/fragment.test.ts
  pkgs/svelte-ast-print/src/html.js
  pkgs/svelte-ast-print/src/html.test.ts
  pkgs/svelte-ast-print/src/root.test.ts
  pkgs/svelte-ast-print/src/script.js
  pkgs/svelte-ast-print/src/script.test.ts
  pkgs/svelte-ast-print/src/tag.js
  pkgs/svelte-ast-print/src/tag.test.ts
Labels: pkg:svelte-ast-print

finish refactoring
  pkgs/svelte-ast-print/src/_char.js
  pkgs/svelte-ast-print/src/_internal.js
  pkgs/svelte-ast-print/src/_result.js
  pkgs/svelte-ast-print/src/_state.js
  pkgs/svelte-ast-print/src/attribute.js
  pkgs/svelte-ast-print/src/attribute.test.ts
  pkgs/svelte-ast-print/src/block.js
  pkgs/svelte-ast-print/src/block.test.ts
  pkgs/svelte-ast-print/src/css/mod.js
  pkgs/svelte-ast-print/src/css/style-sheet.test.ts
  pkgs/svelte-ast-print/src/element.js
  pkgs/svelte-ast-print/src/element.test.ts
  pkgs/svelte-ast-print/src/fragment.js
  pkgs/svelte-ast-print/src/fragment.test.ts
  pkgs/svelte-ast-print/src/html.js
  pkgs/svelte-ast-print/src/html.test.ts
  pkgs/svelte-ast-print/src/html/mod.js
  pkgs/svelte-ast-print/src/html/mod.test.ts
  pkgs/svelte-ast-print/src/js/mod.js
  pkgs/svelte-ast-print/src/js/mod.test.ts
  pkgs/svelte-ast-print/src/mod.js
  pkgs/svelte-ast-print/src/root.js
  pkgs/svelte-ast-print/src/root.test.ts
  pkgs/svelte-ast-print/src/script.js
  pkgs/svelte-ast-print/src/script.test.ts
  pkgs/svelte-ast-print/src/tag.js
  pkgs/svelte-ast-print/src/tag.test.ts
  pkgs/svelte-ast-print/src/template/attribute.test.ts
  pkgs/svelte-ast-print/src/template/block.test.ts
  pkgs/svelte-ast-print/src/template/element.test.ts
  pkgs/svelte-ast-print/src/template/fragment.test.ts
  pkgs/svelte-ast-print/src/template/mod.js
  pkgs/svelte-ast-print/src/template/root.test.ts
  pkgs/svelte-ast-print/src/template/tag.test.ts
Labels: pkg:svelte-ast-print

fix biome
  pkgs/svelte-ast-print/src/js/mod.js
  pkgs/svelte-ast-print/src/template/block.test.ts
Labels: pkg:svelte-ast-print

fix knip
  package.json
  pkgs/svelte-ast-print/src/_char.js
  pkgs/svelte-ast-print/src/_internal.js
Labels: pkg:svelte-ast-print

`toString()` -> `get code`
  pkgs/svelte-ast-print/src/_internal.js
  pkgs/svelte-ast-print/src/css/rule.test.ts
  pkgs/svelte-ast-print/src/css/selector.test.ts
  pkgs/svelte-ast-print/src/css/style-sheet.test.ts
  pkgs/svelte-ast-print/src/html/mod.test.ts
  pkgs/svelte-ast-print/src/js/mod.test.ts
  pkgs/svelte-ast-print/src/template/attribute.test.ts
  pkgs/svelte-ast-print/src/template/block.test.ts
  pkgs/svelte-ast-print/src/template/element.test.ts
  pkgs/svelte-ast-print/src/template/fragment.test.ts
  pkgs/svelte-ast-print/src/template/root.test.ts
  pkgs/svelte-ast-print/src/template/tag.test.ts
Labels: pkg:svelte-ast-print

reorganize & document
  pkgs/svelte-ast-print/README.md
  pkgs/svelte-ast-print/package.json
  pkgs/svelte-ast-print/src/_internal/char.js
  pkgs/svelte-ast-print/src/_internal/html.js
  pkgs/svelte-ast-print/src/_internal/js.js
  pkgs/svelte-ast-print/src/_internal/option.js
  pkgs/svelte-ast-print/src/_internal/shared.js
  pkgs/svelte-ast-print/src/_internal/template/attribute.js
  pkgs/svelte-ast-print/src/_internal/template/block.js
  pkgs/svelte-ast-print/src/_internal/template/element.js
  pkgs/svelte-ast-print/src/_internal/template/fragment.js
  pkgs/svelte-ast-print/src/_internal/wrapper.js
  pkgs/svelte-ast-print/src/css/mod.js
  pkgs/svelte-ast-print/src/html/mod.js
  pkgs/svelte-ast-print/src/js/mod.js
  pkgs/svelte-ast-print/src/mod.js
  pkgs/svelte-ast-print/src/template/attribute.test.ts
  pkgs/svelte-ast-print/src/template/element.test.ts
  pkgs/svelte-ast-print/src/template/mod.js
  pkgs/svelte-ast-print/tests/shared.ts
Labels: pkg:svelte-ast-print

improve doc
  pkgs/svelte-ast-print/README.md
  pkgs/svelte-ast-print/src/lib.js
Labels: pkg:svelte-ast-print
