Repository xeho91/js-ast, changes with the labels that .github/labeler.yml gives for each.
All labels: internals, pkg:js-ast-analyze, pkg:js-ast-build, pkg:ts-ast-analyze, pkg:ts-ast-build, pkg:svelte-ast-analyze, pkg:svelte-ast-build, pkg:svelte-ast-print, tests, workflows

chore: Remove obsolete changesets
  .changeset/flat-parrots-battle.md
  .changeset/happy-dingos-speak.md
Labels: none

chore(EditorConfig): Tweak rules
  .editorconfig
Labels: none

fix(internals): Remove obsolete dependency
  internals/test/package.json
  internals/test/src/svelte.ts
Labels: internals

chore: Improve CI & fix format
  .changeset/config.json
  .github/prlint.json
  .github/workflows/ci-cr.yml
  .github/workflows/ci_biome.yml
  .github/workflows/ci_check.yml
  .github/workflows/ci_knip.yml
  .github/workflows/ci_lint.yml
  .github/workflows/ci_typos.yml
  .github/workflows/cr_docs.yml
  .github/workflows/cr_pr-preview.yml
  .github/workflows/cr_preview.yml
  .github/workflows/cr_typedoc.yml
  biome.json
  internals/test/src/svelte.ts
  internals/test/tsconfig.json
  knip.json
  package.json
  packages/svelte-ast-print/package.json
  packages/svelte-ast-print/src/attribute.ts
  packages/svelte-ast-print/src/block.ts
  packages/svelte-ast-print/src/element.ts
  packages/svelte-ast-print/src/fragment.ts
  packages/svelte-ast-print/src/html.ts
  packages/svelte-ast-print/src/lib.ts
  packages/svelte-ast-print/src/root.ts
  packages/svelte-ast-print/tsconfig.json
  packages/svelte-ast-print/typedoc.json
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.json
  typedoc.base.json
  typedoc.json
Labels: internals, pkg:svelte-ast-print, workflows

refactor(svelte-ast-print): Remove obsolete dependency on `svelte-ast-analyze`
  internals/test/src/svelte.ts
  internals/test/tsconfig.json
  packages/svelte-ast-print/src/_internal/html.ts
  packages/svelte-ast-print/src/_internal/shared.ts
  packages/svelte-ast-print/src/_internal/template/block.ts
  packages/svelte-ast-print/src/_internal/template/element.ts
  packages/svelte-ast-print/src/attribute.ts
  packages/svelte-ast-print/src/fragment.ts
  packages/svelte-ast-print/src/html.ts
  packages/svelte-ast-print/src/lib.ts
Labels: internals, pkg:svelte-ast-print

fix: tsc issues
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vitest.workspace.js
Labels: none

build: Simplify TypeScript setup
  package.json
  packages/svelte-ast-print/package.json
  tsconfig.base.json
  tsconfig.json
Labels: pkg:svelte-ast-print

fix(TypeDoc): Temporarily remove `typedoc-plugin-coverage`
  package.json
  pnpm-lock.yaml
  typedoc.base.json
Labels: none

chore: Update dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

ci(cr_docs): Add missing env variables
  .github/workflows/cr_docs.yml
Labels: workflows

polish test, documentation, etc
  packages/svelte-ast-print/src/_internal/fragment.ts
  packages/svelte-ast-print/src/_internal/template/attribute-like.ts
  packages/svelte-ast-print/src/_internal/template/element-like.ts
  packages/svelte-ast-print/src/attribute.test.ts
  packages/svelte-ast-print/src/css.ts
  packages/svelte-ast-print/src/css/rule.test.ts
  packages/svelte-ast-print/src/css/selector.test.ts
  packages/svelte-ast-print/src/css/selector.ts
  packages/svelte-ast-print/src/fragment.test.ts
  packages/svelte-ast-print/src/fragment.ts
  packages/svelte-ast-print/src/lib.ts
  packages/svelte-ast-print/src/template.ts
  packages/svelte-ast-print/src/template/attribute-like.test.ts
  packages/svelte-ast-print/src/template/attribute-like.ts
  packages/svelte-ast-print/src/template/block.test.ts
  packages/svelte-ast-print/src/template/block.ts
  packages/svelte-ast-print/src/template/element-like.test.ts
  packages/svelte-ast-print/src/template/element-like.ts
  packages/svelte-ast-print/src/template/html.test.ts
  packages/svelte-ast-print/src/template/html.ts
  packages/svelte-ast-print/src/template/root.test.ts
  packages/svelte-ast-print/src/template/root.ts
  packages/svelte-ast-print/src/template/tag.test.ts
  packages/svelte-ast-print/src/template/tag.ts
Labels: pkg:svelte-ast-print, tests

biome fix
  packages/svelte-ast-print/src/_internal/template/element-like.ts
  packages/svelte-ast-print/src/css.ts
  packages/svelte-ast-print/src/css/rule.test.ts
  packages/svelte-ast-print/src/css/selector.test.ts
  packages/svelte-ast-print/src/css/selector.ts
  packages/svelte-ast-print/src/fragment.test.ts
  packages/svelte-ast-print/src/fragment.ts
  packages/svelte-ast-print/src/lib.ts
  packages/svelte-ast-print/src/template.ts
  packages/svelte-ast-print/src/template/attribute-like.test.ts
  packages/svelte-ast-print/src/template/attribute-like.ts
  packages/svelte-ast-print/src/template/block.test.ts
  packages/svelte-ast-print/src/template/block.ts
  packages/svelte-ast-print/src/template/element-like.test.ts
  packages/svelte-ast-print/src/template/element-like.ts
  packages/svelte-ast-print/src/template/html.test.ts
  packages/svelte-ast-print/src/template/html.ts
  packages/svelte-ast-print/src/template/root.test.ts
  packages/svelte-ast-print/src/template/root.ts
  packages/svelte-ast-print/src/template/tag.test.ts
  packages/svelte-ast-print/src/template/tag.ts
  typedoc.base.json
Labels: pkg:svelte-ast-print, tests

fix tests - remove `hub` - wtf I did there
  packages/svelte-ast-print/src/_internal/shared.ts
  packages/svelte-ast-print/src/css.ts
  packages/svelte-ast-print/src/fragment.ts
  packages/svelte-ast-print/src/lib.ts
  packages/svelte-ast-print/src/template.ts
  packages/svelte-ast-print/src/template/attribute-like.test.ts
  packages/svelte-ast-print/src/template/block.test.ts
  packages/svelte-ast-print/src/template/block.ts
  packages/svelte-ast-print/src/template/element-like.ts
  packages/svelte-ast-print/src/template/root.test.ts
  packages/svelte-ast-print/src/template/root.ts
Labels: pkg:svelte-ast-print, tests

fix ci
  .github/workflows/ci_lint.yml
  package.json
Labels: workflows

fix ci
  .github/workflows/ci_lint.yml
  package.json
Labels: workflows

fix tests
  packages/svelte-ast-print/src/fragment.test.ts
  packages/svelte-ast-print/src/template/block.test.ts
  packages/svelte-ast-print/src/template/element-like.test.ts
Labels: pkg:svelte-ast-print, tests

fix pr-preview
  .github/workflows/cr_pr-preview.yml
Labels: workflows

refactor(svelte-ast-print): Polish codebase, improve tests syntax & docs (#118)
  .github/workflows/ci_lint.yml
  .github/workflows/cr_pr-preview.yml
  package.json
  packages/svelte-ast-print/src/_internal/fragment.ts
  packages/svelte-ast-print/src/_internal/shared.ts
  packages/svelte-ast-print/src/_internal/template/attribute-like.ts
  packages/svelte-ast-print/src/_internal/template/element-like.ts
  packages/svelte-ast-print/src/css.ts
  packages/svelte-ast-print/src/css/rule.test.ts
  packages/svelte-ast-print/src/css/selector.test.ts
  packages/svelte-ast-print/src/css/selector.ts
  packages/svelte-ast-print/src/fragment.test.ts
  packages/svelte-ast-print/src/fragment.ts
  packages/svelte-ast-print/src/lib.ts
  packages/svelte-ast-print/src/template.ts
  packages/svelte-ast-print/src/template/attribute-like.test.ts
  packages/svelte-ast-print/src/template/attribute-like.ts
  packages/svelte-ast-print/src/template/block.test.ts
  packages/svelte-ast-print/src/template/block.ts
  packages/svelte-ast-print/src/template/element-like.test.ts
  packages/svelte-ast-print/src/template/element-like.ts
  packages/svelte-ast-print/src/template/html.test.ts
  packages/svelte-ast-print/src/template/html.ts
  packages/svelte-ast-print/src/template/root.test.ts
  packages/svelte-ast-print/src/template/root.ts
  packages/svelte-ast-print/src/template/tag.test.ts
  packages/svelte-ast-print/src/template/tag.ts
  typedoc.base.json
Labels: pkg:svelte-ast-print, tests, workflows

add build step
  .github/workflows/cr_pr-preview.yml
Labels: workflows

add test cases for `print` and `printSvelte`
  packages/svelte-ast-print/src/lib.test.ts
Labels: pkg:svelte-ast-print, tests

create separate module for types
  packages/svelte-ast-print/src/_internal/html.ts
  packages/svelte-ast-print/src/_internal/shared.ts
  packages/svelte-ast-print/src/_internal/type.ts
Labels: pkg:svelte-ast-print

fix circularity
  packages/svelte-ast-print/src/lib.ts
Labels: pkg:svelte-ast-print

ci(pr-preview): Add missing build step (#119)
  .github/workflows/cr_pr-preview.yml
Labels: workflows

fix tsc
  packages/svelte-ast-print/src/template/element-like.ts
  packages/svelte-ast-print/src/template/html.ts
Labels: pkg:svelte-ast-print

test: Add test cases for `print`, `printSvelte` and resolve existing issues (#120)
  packages/svelte-ast-print/src/_internal/html.ts
  packages/svelte-ast-print/src/_internal/shared.ts
  packages/svelte-ast-print/src/_internal/type.ts
  packages/svelte-ast-print/src/lib.test.ts
  packages/svelte-ast-print/src/lib.ts
  packages/svelte-ast-print/src/template/element-like.ts
  packages/svelte-ast-print/src/template/html.ts
Labels: pkg:svelte-ast-print, tests

don't change indentation when printing only JS AST related nodes
  packages/svelte-ast-print/src/_internal/js.ts
Labels: pkg:svelte-ast-print

allow single space text to be printed only between expression tags
  packages/svelte-ast-print/src/fragment.ts
Labels: pkg:svelte-ast-print

fix when two line breaks between root elements are inserted
  packages/svelte-ast-print/src/template/root.ts
Labels: pkg:svelte-ast-print

oops
  packages/svelte-ast-print/src/lib.ts
Labels: pkg:svelte-ast-print

Prevent `Result` from being omitted in build output & docs improvements
  packages/svelte-ast-print/src/_internal/shared.ts
Labels: pkg:svelte-ast-print

fix: Whitespace & indentation issues in `Fragment` & `Root` nodes (#121)
  packages/svelte-ast-print/src/_internal/js.ts
  packages/svelte-ast-print/src/_internal/shared.ts
  packages/svelte-ast-print/src/fragment.ts
  packages/svelte-ast-print/src/lib.ts
  packages/svelte-ast-print/src/template/root.ts
Labels: pkg:svelte-ast-print

build: Bump `node`in `package.json#engines` to `>=20`
  packages/svelte-ast-print/package.json
Labels: pkg:svelte-ast-print

changeset
  .changeset/seven-boxes-travel.md
Labels: none

build: Bump `node`in `package.json#engines` to `>=20` (#122)
  .changeset/seven-boxes-travel.md
  packages/svelte-ast-print/package.json
Labels: pkg:svelte-ast-print

fix release workflow
  .changeset/fancy-humans-heal.md
  .github/workflows/cr_release.yml
Labels: workflows

ci(workflows): Fix missing publish step in CR - release workflow (#125)
  .changeset/fancy-humans-heal.md
  .github/workflows/cr_release.yml
Labels: workflows

Update `svelte` to `v5.29`
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

changeset
  .changeset/easy-doors-fetch.md
Labels: none

add test cases
  packages/svelte-ast-print/src/fragment.test.ts
  packages/svelte-ast-print/src/template/tag.test.ts
Labels: pkg:svelte-ast-print, tests

refactor `element-like` - one loop through attributes
  packages/svelte-ast-print/src/_internal/template/element-like.ts
Labels: pkg:svelte-ast-print

.github/labeler.yml:

"internals":
    - changed-files:
          - any-glob-to-any-file:
                - "internals/**"

"pkg:js-ast-analyze":
    - changed-files:
          - any-glob-to-any-file:
                - "packages/js-ast-analyze/**"

"pkg:js-ast-build":
    - changed-files:
          - any-glob-to-any-file:
                - "packages/js-ast-build/**"

"pkg:ts-ast-analyze":
    - changed-files:
          - any-glob-to-any-file:
                - "packages/ts-ast-analyze/**"

"pkg:ts-ast-build":
    - changed-files:
          - any-glob-to-any-file:
                - "packages/ts-ast-build/**"

"pkg:svelte-ast-analyze":
    - changed-files:
          - any-glob-to-any-file:
                - "packages/svelte-ast-analyze/**"

"pkg:svelte-ast-build":
    - changed-files:
          - any-glob-to-any-file:
                - "packages/svelte-ast-build/**"

"pkg:svelte-ast-print":
    - changed-files:
          - any-glob-to-any-file:
                - "packages/svelte-ast-print/**"

"tests":
    - changed-files:
          - any-glob-to-any-file:
                - "**/*.test.ts"

"workflows":
    - changed-files:
          - any-glob-to-any-file:
                - ".github/workflows/**"
