Repository xeho91/js-ast, pull requests merged in 2024-10, with the labels that each got.

#98 feat: Allow Node v18
  package.json
Labels: minor

#99 fix: Crash caused by indentation logic inside `IfBlock`
  .all-contributorsrc
  package.json
  src/mod.js
  tests/nodes/block.test.ts
Labels: bug, patch, release

#100 fix: Serialization of attribute-like with `(Text | ExpressionTag)[]` value
  package.json
  src/mod.js
  tests/nodes/attribute-like.test.ts
Labels: patch, release

#101 chore(dependencies): Use `svelte@^5.0.0`
  package.json
  pnpm-lock.yaml
  tsup.config.ts
Labels: minor, release, dependencies
